header {
    position: relative;
    height: 40vh;
    background-image: url(./gazo/mny0141-001.webp);
    background-size: cover;

}

header h1 {

    position: absolute;
    text-align: center;
    z-index: 1;
    top: 10%;
    width: 100%;
    font-size: clamp(3.5rem, 6vw, 5rem);
    color: #333;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;
}

#popup-close {
    display: none;
}

#popup-close:checked+.popup {
    display: none;
}

.popup {
    box-sizing: border-box;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    width: min(90vw, 700px);
    height: fit-content;

}

.popup-content {
    content: url(./gazo/van.png);

    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    width: min(90vw, 700px);
    height: fit-content;
    max-width: 96%;
    max-height: 96%;

}

.icon-close {
    background: #000;
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 0;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;

    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn:active {
    
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    
    border-bottom: none;
}